# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Java
*.jar

# Gradle
.gradle/
gradle/
build/
classes/
gradlew
gradlew.bat
out/

# Minecraft Environment
run/
